.productsGrid {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100vw;
}

#sale {
  color: red;
}

.navbar li {
  display: inline-block;
  background-color: #cdcdcd;
  color: #00008b;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  border: none;
  text-align: center;
  line-height: 40px;
}
